<div class='bg' id='about'>
    <div class='blackBox'>
        <h1>About Me</h1>
        <p>Hello. I am Ali Raeisdanaei and a Computer Science student striving for excellence.</p>
        <p>I am driven to create reliable and efficient software. </p>
        <br>
        <p>Email: aliraeisdanaei@gmail.com</p>
        <p>
            <a href='https://www.linkedin.com/in/raeis/' target='blank'>My LinkedIn</a>
        </p>
        <p>
            <a href='https://github.com/aliraeisdanaei' target='blank'>My GitHub</a>
        </p>



    </div>
</div>