.bg {
    background: url('about.jpg') no-repeat center center fixed;
    height: 100%;
    /* Center and scale the image nicely */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: 100vw;
    height: 100vh;
}

.blackBox {
    background-color: black;
    opacity: 0.8;
    color: white;
    word-wrap: break-word;
    margin: auto;
    font-family: Courier, monospace;
    font-size: medium;
    margin: 0;
    padding: 10px;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: table;
}

a {
    color: white;
}