<div class='bg' id='about' @fade>
    <div class='blackBox' @fade>
        <h1>About Me</h1>
        <p>
            Hi, my name is Ali Raeisdanaei. I am a computer scientist, and I am driven to create positive impacts in the world. Computer science resides at the forefront of being able to make a change. I believe in the hope of a better future through collaborative
            work and sharing of ideas. The internet and the world of open source allows and streamlines this process. It has allowed humans to share news and information rapidly and without borders. It has allowed brilliant softwares such as Linux to
            be free and democratic. I wish to carry the torch of the intelligent creators before me who preached of progress and innovation. With this ambition, attention to detail, and drive I wish to work in your team.
        </p>

        <p>
            The projects that I have worked on are out of passion and seek solutions for everyday problems. I use a lot of these software myself everyday kindling in me a love of reliable, efficient, and utilitarian code.
        </p>
        <br>
        <p>Email: aliraeisdanaei@gmail.com</p>
        <p>
            <a href='https://www.linkedin.com/in/raeis/' target='blank'>My LinkedIn</a>
        </p>
        <p>
            <a href='https://github.com/aliraeisdanaei' target='blank'>My GitHub</a>
        </p>



    </div>
</div>