<div class='bg' id='about' @fade>
    <div class='blackBox' @fade>
        <h1>About Me</h1>
        <p>Hello. I am Ali Raeisdanaei and a Computer Science student striving for excellence.</p>
        <p>I am driven to create reliable and efficient software. I have a keen interest in low level programming and optimization.</p>
        <p>Some of my favourite things to do include running, working out, and playing sports. I also like to read and learn German.</p>
        <br>
        <p>Email: aliraeisdanaei@gmail.com</p>
        <p>
            <a href='https://www.linkedin.com/in/raeis/' target='blank'>My LinkedIn</a>
        </p>
        <p>
            <a href='https://github.com/aliraeisdanaei' target='blank'>My GitHub</a>
        </p>



    </div>
</div>