<div class="bg" @fade>

    <div class='blackBox' id="projects" @fade>
        <h1>Projects</h1>
    </div>


    <div *ngFor="let project of projectsList" @fade>
        <br>
        <div class='blackBox'>
            <h2>{{project.name}}</h2>
            <h3>{{project.languages}}</h3>

            <p class="clearfix">{{project.description}}
                <img src='../assets/{{project.pic}}' alt='{{project.pic}}'>

            </p>
            <a *ngIf="project.link; else linuxLink" href="{{project.link}}" target='blank'>Source Coude</a>

            <ng-template #linuxLink>
                <p><a href="https://github.com/aliraeisdanaei/i3" target='blank'>i3 Window Manager, Brightness Control, & Screen Timer</a></p>
                <p><a href="https://github.com/aliraeisdanaei/photo-tools" target='blank'>Apple Photo-format Converter</a></p>
                <p><a href="https://github.com/aliraeisdanaei/punch" target='blank'>Punch Timer</a></p>

            </ng-template>

        </div>


        <br>
    </div>



</div>