<div class='bg' id='about-server' @fade>
    <div class='blackBox' @fade>
        <h1>About This Website</h1>
        <p>
            A version of this website lives on a personal server
            <a href="https://aliraeis.com/" target='blank'> here.</a>
        </p>

        <p>
            For that reason it may not be live all the time: resources are limited. However, you can always find this website <a href="https://www.eecs.yorku.ca/~aliraeis" target='blank'> here.</a>
        </p>
    </div>
</div>